{% extends "base.html" %}

{% block title %} RNA sequence input form {% endblock %}

{% block menu %}
    <div id="menu">
      <ul>
      <li><a href="/nfold">Home</a></li>
      <li class="current_page_item"><a href="/nfold/new">Visualize</a></li>
      <li><a href="#">List</a></li>
      <li><a href="#">References</a></li>
      <li><a href="#">Contact</a></li>
      </ul>
     </div>
 {% endblock %}


{% block post %}
     <form action="" method="post">{% csrf_token %}
         {{ form.as_p }}
         <input type="submit" value="Submit" />
     </form>
{% endblock %}
